
 *{
    margin: 0px;
    padding: 0px;
}
/*********body*****************/
body{
  margin : 0px;
  text-align  :center;
}

/***************navigation bar************/
header{
  height: 80px;
  background: #282a35;
  margin: 0px;
  position: sticky;
  top : 0px;
  right : 0px;
  left : 0px;
}
nav {
 display: inline;
  position: fixed;
   top : 0px;
   left : 0px;
   right : 0px;
}
ul.nav{
  display:flex;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin: 0px;
 margin-top: 0px;
}

ul.nav li{
  list-style: none;
  margin-top: 15px;
  /* text-align: center; */
  margin-bottom: 35px;
  display : inline;

}
nav ul li a {
  color: white;
  display : block;
  padding : 15px 20px 5px;
   border-radius: 25px;
  text-decoration: none;
  font-size: 1.0rem;
   height  :30px;
   width : 100px;
}
a.nav:visited {
  text-decoration: none;
  color: white;

}
a.nav:hover {
   background-color: #484a54;
  text-decoration: none;
}

/*************main body*************/
main{
  margin  :0px;
  text-align : center;
}
form{
  box-shadow : 5px 2px 13px;
  border-radius :5px;
  /*   height : 500px; */
  width : 35%;
  margin  : 30px;
  margin-left : 511px;
  padding-top: 30px;
 }
h3 {
  font-size: 2em;
}
p {
  font-size : 1.8em;
  margin : 10px;
}
input{
  margin : 10px;
  height : 50px;
  width : 50%;
  border-radius : 5px;
  font-size : 1.2em;
}
input:hover
{
  box-shadow: 1px 1px 3px;
}

button.lgbtn {
  margin:10px;
  height : 50px;
  width  :20%;
  background-color : white;
  border-style: solid;
  border-radius : 25px;
  border-color : orange;
  border-width : 2px;
  color:orange;
  font-size: 1.2em;

}
button.lgbtn:hover{
  background-color: orange;
  color:white;
}
button.lgbtn:active{
  background-color : white;
  color:orange;
}

a.createAcc,a.createAcc:visited {
  color:black;
  text-decoration:none;
}
a.createAcc:hover{
  color:grey;
}
a.createAcc:active {
  color:blue;
}
